In [1]:
import tensorflow as tf
import numpy as numpy
import pandas as pd
import matplotlib.pyplot as plt

INFO:tensorflow:Enabling eager execution
INFO:tensorflow:Enabling v2 tensorshape
INFO:tensorflow:Enabling resource variables
INFO:tensorflow:Enabling tensor equality
INFO:tensorflow:Enabling control flow v2

In [2]:
df = pd.read_csv('prices.csv')
df.head()

,Dist Code,Year,State Code,State Name,Dist Name,RICE HARVEST PRICE (Rs per Quintal),PADDY HARVEST PRICE (Rs per Quintal),WHEAT HARVEST PRICE (Rs per Quintal),SORGHUM HARVEST PRICE (Rs per Quintal),PEARL MILLET HARVEST PRICE (Rs per Quintal),...,BARLEY HARVEST PRICE (Rs per Quintal),CHICKPEA HARVEST PRICE (Rs per Quintal),PIGEONPEA HARVEST PRICE (Rs per Quintal),GROUNDNUT HARVEST PRICE (Rs per Quintal),SEASMUM HARVEST PRICE (Rs per Quintal),RAPE AND MUSTARD HARVEST PRICE (Rs per Quintal),CASTOR HARVEST PRICE (Rs per Quintal),LINSEED HARVEST PRICE (Rs per Quintal),SUGARCANE GUR HARVEST PRICE (Rs per Quintal),COTTON KAPAS HARVEST PRICE (Rs per Quintal)
0,1,1990,14,Chhattisgarh,Durg,382.0,230.0,329.0,-1.0,-1.0,...,-1.0,602.0,858.0,-1.0,1014.0,-1.0,-1.0,978.0,-1.0,-1.0
1,1,1991,14,Chhattisgarh,Durg,453.0,221.0,384.0,-1.0,-1.0,...,-1.0,641.0,822.0,-1.0,1750.0,-1.0,-1.0,1053.0,-1.0,-1.0
2,1,1992,14,Chhattisgarh,Durg,497.0,-1.0,448.0,-1.0,-1.0,...,-1.0,728.0,992.0,-1.0,1407.0,-1.0,-1.0,903.0,-1.0,-1.0
3,1,1993,14,Chhattisgarh,Durg,533.0,321.0,463.0,-1.0,-1.0,...,-1.0,986.0,908.0,-1.0,1325.0,-1.0,-1.0,1009.0,-1.0,-1.0
4,1,1994,14,Chhattisgarh,Durg,580.0,349.0,491.0,-1.0,-1.0,...,-1.0,842.0,1268.0,-1.0,2750.0,-1.0,-1.0,1134.0,-1.0,-1.0

In [3]:
columns = ['city','crop']
columns.extend([str(i) for i in range(1990,2017)])
dtypes=numpy.dtype(list(map(lambda x: (x,float), columns)))
df2 = pd.DataFrame(numpy.empty(0,dtype=dtypes))
df2[['city','crop']]=df2[['city','crop']].astype(str)

In [4]:
crops=["RICE","PADDY","WHEAT","SORGHUM","PEARL MILLET","MAIZE","FINGER MILLET","BARLEY","CHICKPEA","PIGEONPEA","GROUNDNUT","SEASMUM","RAPE AND MUSTARD","CASTOR","LINSEED","SUGARCANE GUR","COTTON KAPAS"]
cities=set()
for index,data in df.iterrows():
    cities.add(data['Dist Name'])
print(len(cities))

533

In [5]:
for city in cities:
    for crop in crops:
        df2=df2.append({'city':city, 'crop':crop}, ignore_index=True)

In [6]:
df2.head()

,city,crop,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Rae-Bareily,RICE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Rae-Bareily,PADDY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Rae-Bareily,WHEAT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Rae-Bareily,SORGHUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Rae-Bareily,PEARL MILLET,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN